#CardVideos {
    margin-top: 80px;
    margin-bottom: 80px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    
}

#CardVideos div {
    padding: 20px;
}

#pCardVideos1 {
    font-family: DM Sans;
    font-size: 36px;
    font-weight: 500;


}


#cardsCardVideos {
    display: flex;
    flex-direction: row;
    justify-content: center;

}



.legenda {
    font-family: DM Sans;
    font-size: 24px;
    font-weight: 700;
    line-height: 32px;
    text-align: left;

}

.fotoCardVideos {
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 360px; 
    height: 220px; 
    border-radius: 50px;
    
}

/* .fotoCardVideos img {
    background-color: #D9D9D9;
    width: 360px; 
    height: 220px;   
    border-radius: 50px;
    
} */

